.discount {
  background: url("../../img/discount/discount-section-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 656px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.discount-inner__title {
  color: var(--text-color-white);
  font-family: "Oswald", sans-serif;
  font-size: 3.75rem;
  line-height: 1.2;
  max-width: 80%;
}

.discount-inner__text {
  color: var(--text-color-white);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  max-width: 95%;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 2.8rem;
}

.discount-inner__register-button {
  background-color: var(--btn-color-white);
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  padding: 18px 26px;
  text-decoration: none;
  margin-top: 2rem;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .discount-inner__title {
    font-size: 4.8rem;
    max-width: 70%;
  }

  .discount-inner__text {
    max-width: 46%;
  }
}

@media (min-width: 1024px) {
  .discount-inner__title {
    font-size: 5.9rem;
    max-width: 60%;
  }

  .discount-inner__text {
    max-width: 50%;
  }
}
