.events {
    background-color: var(--ui-dark-shade-color);
}

.events__title, .events__description {
    color: var(--text-color-white);
}

.events__item {
    border: 1px solid var(--dark-border-color);
}