.events {
    padding: 90px 0 90px 0;
    background-color: var(--ui-dark-shade-color);
}

.events__title, .events__description {
    color: var(--text-color-white);
}

.events__title {
    font-size: 34px;
}

.events__item {
    border-color: var(--dark-border-color);
    background-color: var(--ui-dark-red-shade-color);
}

.events__item-date {
    color: var(--ui-brand-color);
}

.events__item-speaker {
    color: var(--text-color-white);
}

.events__item-link {
    color: var(--text-color-white);
}

.events__item-description {
    color: var(--text-color-white);
}

.events__more-link {
    display: block;
}

.events__reserve-link {
    display: none;
}

.events__learn-link {
    display: none;
}

@media(min-width: 768px) {
    .events__header {
        max-width: calc(100%* var(--w-grid-column-size, 7) / 12);
    }
}