.schedule {
  background-color: #00aaff; /* Основний фон /
  color: #ffffff; / Колір тексту */
  text-align: center;
  padding: 50px 0;
}

.scheduletitle {
  font-size: 36px;
  margin-bottom: 10px;
}

.scheduledescription {
  font-size: 18px;
  margin-bottom: 30px;
}

.scheduledays {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.scheduleday {
  background-color: #ffffff;
  color: #333333;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.scheduleday-header {
  background-color: #ffc107;
  color: #000000;
  font-weight: bold;
  padding: 10px 0;
}

.scheduleday-content {
  padding: 10px 0;
}

.scheduletime {
  font-size: 16px;
  margin: 5px 0;
}

.schedulebutton {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.schedule__button:hover {
  background-color: #ffffff;
  color: #00aaff;
}
