@import "../global/global.css";
@import "../global/header-nav.css";
@import "./tournament.css";
@import "./gallery.css";
@import "./video.css";
@import "./why.css";
@import "../global/footer.css";
@import "../global/championship.css";



[class*="__divider"] {
  margin: 25px 0 20px 0;
  height: 32px;
  width: 405px;
  max-width: 240px;
}

.results{
  background-image: url("../../img/pages-hero/results-bg-header.png");
}

[class*='__title'] {
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
}


@media (min-width: 768px) {
  [class*='__title'] {
    font-family: 'Oswald', sans-serif;
    font-size: 41px;
  }
}

@media (min-width: 991px) {
  [class*='__title'] {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
  }
}