@import url("../global/global.css");
@import url("../global/header-nav.css");
@import url("../global/variables.css");
@import url("../global/footer.css");

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.page-hero {
  background-image: url("../../img/faq/faq-header.png");
  background-size: cover;
  background-position: center;
}

.faq__title {
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
    margin: auto;
    padding: 50px;
    font-weight: bold;
    text-align: center;
}

.faq__divider {
  width: 5%; 
  height: auto; 
  margin: auto;
  margin-bottom: 30px;
  position: center;
  
}

.faq__description {
  color:var(--text-color-grey);
  font-size: 18px;
  padding: 5px;
}

.accordion {
  width: 100%;
  max-width: 1135px;
}

.accordion-header button {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32.5px;
}

.accordion-body {
  color:var(--text-color-grey);
}
