.pricing-hero {
  background-image: url("../../img/pricing/background-pricing.png");
  background-size: cover;
  height: 550px;
  margin-bottom: 100px;
  width: auto;
  background-position: center;
}
.pricing-hero__title {
  font-family: "Oswald", sans-serif;
  color: var(--text-color-white);
  padding-left: 30px;
  font-size: 95px;
  display: flex;
  height: 100%;
  align-items: center;
  width: 60%;
}
@media (max-width: 700px) {
  .pricing-hero__title {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .pricing-hero__title {
    font-size: 2rem;
  }
}
