.championship {
  padding: 90px 30px 50px 30px;
}

.championship__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.championship__title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: var(--text-color-black);
  text-align: center;
  margin: 1.2rem auto auto;
}

.championship__separator {
  padding-top: 1.2rem;
  width: 250px;
  height: auto;
  object-fit: cover;
  margin: 25px 0 20px 0;
}

.championship__text {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  margin: 1.2rem auto auto;
  color: var(--text-color-grey);
}

.championship__player{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.championship__player-details {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  flex: 1;
  justify-content: center;
}

.championship__player-details--name-point {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.championship__player-name {
  justify-content: space-around;
  flex: 1;
}

.championship__player-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.championship__player-img--first {
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

.championship__players {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
}

.championship__player--first {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.championship__players--second-fifth{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 675px;
}

.championship__player-name--first {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  color: var(--text-color-black);
  font-weight: bold;
}

.championship__player-separator {
  width: 68%;
  height: 1px;
  background: var(--ui-dark-shade-color);
  opacity: .2;
  margin: 3% 10px 0 10px;
}
.championship__player-best-player {
  font-size: 20px;
  color: var(--text-color-grey);
  font-weight: 700;
  margin: 15px 0 20px 0;
  font-family: "PT Sans", sans-serif;
}

.championship__player-point--first {
  font-size: 28px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: var(--text-color-spotlight);
  margin-bottom: 15px;
}

.championship__player--first__crone {
  width: 50px;
  height: 50px;
  color: var(--text-color-spotlight);
}

.championship__player-rating{
  font-size: 17px;
  color: var(--text-color-grey);
  font-family: "PT Sans", sans-serif;
}

.championship__player-name{
  font-size: 23px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: var(--text-color-black);
}

.championship__player-point{
  font-size: 23px;
  font-family: "Oswald", sans-serif;
  color: var(--text-color-black);
  font-weight: bold;
}

.championship__player-place{
  font-size: 23px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: var(--text-color-spotlight);
}


@media (min-width: 320px) {
  .championship__players{
    display: flex;
    flex-direction: column;
  }

  .championship__player-img--first {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 768px) {
  .championship__players{
    flex-direction: row;
  }

  .championship__player-best-player {
    font-size: 22px;
  }

  .championship__player-img--first {
    height: 120px;
    width: 120px;
  }

  .championship__player-name--first {
    font-size: 32px;
  }

  .championship__player-name {
    font-size: 25px;
  }

  .championship__player-place {
    font-size: 25px;
  }

  .championship__player-point {
    font-size: 25px;
  }

  .championship__separator {
    width: 150px;
  }

  .championship__player-point--first{
    font-size: 32px;
  }
}
