.footer-wrapper {
  background-color: black;
  padding: 50px;
  padding-right: 90px; 
  padding-left: 90px; 
  font-family: Arial, sans-serif; 
  margin-top: 90px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center; 
}

.nav__logo-link {
  margin-bottom: 20px; 
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column; 
  align-items: center; 
}

nav ul li {
  margin-right: 0; 
  margin-bottom: 10px; 
}

a {
  color: #fff;
  text-decoration: none;
}

.nav__logo-link img {
  height: auto;
  width: auto;
  max-width: 100px; 
  max-height: 60px; 
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom hr {
  border: none;
  height: 1px;
  background-color: #fff; 
  margin: 10px 0; 
}

.footer-bottom p {
  font-size: 0.8em; 
  margin: 5px 0; 
  color: #fff; 
}

.footer-bottom-content {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between;
}

@media (min-width: 769px) {
  .footer-nav {
      flex-direction: row; 
      align-items: center; 
  }

  .nav__logo-link {
      margin-bottom: 0; 
      margin-right: 20px; 
  }

  nav ul {
      flex-direction: row; 
      align-items: flex-start; 
  }

  nav ul li {
      margin-right: 20px; 
      margin-bottom: 0; 
  }

  .footer-bottom-content {
      flex-direction: row; 
      align-items: center; 
  }
}