:root {
    --accent-color: #d78c43;
    --text-color: #bbbbbb;
    --text-color-white: #ffffff;
    --text-color-black: #1D1D1DFF;
    --text-color-spotlight: #91cc3d;
    --btn-color-white: #ffffff;
    --border-color: #fff;
    --nav-bg: #0b121f;
}